<% var title = "Déconnexion de l'utilisateur" %>

<% include head %>

<div class="container">
    <div class="row">
        <div class="login-form"><!--login form-->
            <br/>
            <h1 style="text-align:center; color:#262e45; ">Vous avez bien été déconnecté.</h1>
        </div><!--/login form-->
     </div>
</div>

<% include foot %>