<% var title = "Page d'erreur" %>
<% include head %>
<br/><br/>
<h1 style="text-align:center; color:#800000; "><%= error %></h1>
<br/><br/>
<p style="text-align : center; color:#c0c0c0; font-size:20px;"><%= error2 %></p>
<% include foot %>