<% include head %>

<h1>Erreur d'inscription au site</h1>
<p> Page de e-commerce : Achetez des bonbons ! </p>
<p> Bienvenue à <%=error%>
Retourner <a href="/register">s'inscrire</a> pour saisir une bonne fois pour toute des identifiants corrects !

<% include foot %>