<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }
    </style>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>