<% include head %>

<h1>Home</h1>
Accés au <a href="/profile">/profil</a>
<p> Page de e-commerce : Achetez des bonbons ! </p>
<!--<p id="bienvenue"> Bienvenue à-->

<!--<script>-->
  <!--// if(document.cookie=="tebboune.yacine83@gmail.com"){-->
  <!--//   document.getElementById('#bienvenue"').value = 'Admin';-->
  <!--// }-->

  <!--if(document.cookie){-->
      <!--var s= document.getElementById("bienvenue");-->
      <!--s.value = document.cookie.replace('name=','');-->
      <!--$("#bienvenue").append(s.value);-->
  <!--}-->
  <p id="userName">Bonjour </p>
<p id="adm">Bonjour </p>

      <script>
          if(document.cookie) {
              var s = document.getElementById("userName");
              s.value = document.cookie.replace(/name=|;|id=|/g, '');
              $("#userName").append(s.value);
          }
</script>
<% include foot %>