<% var title = 'Page accueil' %>

<% include head %>

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Store</span>-Bonbon</h1>
                                <h2>Site marchand de bonbon</h2>
                                <p>A tout les gourmands qui raffolent de sucreries, vous ne vous êtes pas trompés de site ! </p>
                                <br/><br/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Le Shopping</span></h1>
                                <h2>Ca se passe plus bas</h2>
                                <p>Vous trouverez tout ce dont vous aurez besoin en ce qui concerne les sucreries de tout types ! </p>
                                <br/><br/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>N'attendez</span> plus</h1>
                                <h2>Et passez votre commande </h2>
                                <p>Sur le meilleur site rapport qualité/prix de bonbon. </p>
                                 <br/><br/> <br/>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="features_items"><!--features_items-->
                <h2 class="title text-center">Features Items</h2>
                <% listeProduit.forEach(function(produit){ %>
                <div style="margin-bottom:5%;" class="col-sm-3">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <h2><%= produit.prixProduit %>€</h2>
                            <h4><%= produit.nomProduit %></h4>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</section>


    <h1><%= req.session.clientrank %></h1>
<% include foot %>



<!-- <h1>Home</h1>
Accés au <a href="/profile">/profil</a>
Accés au <a href="/admin">/pannel admin</a>

<p> Page de e-commerce : Achetez des bonbons ! </p> -->
<!--<p id="bienvenue"> Bienvenue à-->

<!--<script>-->
  <!--// if(document.cookie=="tebboune.yacine83@gmail.com"){-->
  <!--//   document.getElementById('#bienvenue"').value = 'Admin';-->
  <!--// }-->

  <!--if(document.cookie){-->
      <!--var s= document.getElementById("bienvenue");-->
      <!--s.value = document.cookie.replace('name=','');-->
      <!--$("#bienvenue").append(s.value);-->
  <!--}-->

<!-- <p id="userName">Bonjour </p>
<p id="adm">Bonjour </p> -->

<script>

    if(document.cookie) {
        var s = document.getElementById("userName");
        s.value = gcookie("id");
        $("#userName").append(s.value);
        if (gcookie("rank") == 1) {

            $(".adm").show();
        }
    }
</script>
