<% var title = 'Pannel administration' %>
<% include head %>
<script>
    if(gcookie("rank")==1){
        alert("ranked");
    }
</script>

<div class="container">
   <div class="login-form"><!--login form-->
        <form method="post" action="/pannelAddProduct">
            <h2 style="color: #ffb90f; text-align : center;">Ajouter un produit</h2>
            <h4 style="text-align : center; color:#c0c0c0;"> Nom du produit : </h4>
            <input style="display: block; margin : auto; width:50%;"  type="text" name="nomProduit">
            <br/>
            <h4 style="text-align : center; color:#c0c0c0;"> Prix du produit : </h4>
            <input style="display: block; margin : auto; width:50%;" type="number" name="prixProduit">
            <br/>
            <button style="display: block; margin : auto; width:20%;" type="submit" value="Ajouter le produit">Ajouter le produit</button>
            <br/><br/>
        </form>
        <form method="post" action="/pannelDelProduct">
            <h2 style="color: #ffb90f; text-align : center;">Supprimer un produit</h2>
            <h2 style="text-align : center; color:#c0c0c0;">Identifiant du produit :</h2>
            <input style="display: block; margin : auto; width:50%;" type="number" name="idProduit">
            <br/>
            <button style="display: block; margin : auto; width:20%;" type="submit" value="Supprimer">Supprimer</button>
            <br/>
        </form>
    </div>
</div>


<% include foot %>