<% var title = 'Compte' %>
<% include head %>
<div class="container">
<div class="login-form"><!--login form-->
<form method="post" action="/modifProfil">
    <input type="hidden" id="idC" name="id"/>
    <h4 style="text-align : center; color:#c0c0c0;"> Email : </h4>
    <input style="display: block; margin : auto; width:50%; text-align:center;" type="text" id="mailC" name="email" disabled/>
    <br/>

    <h4 style="text-align : center; color:#c0c0c0;"> Nom : </h4>
    <input style="display: block; margin : auto; width:50%; text-align:center;" type="text" id="nomC" name="nom"/>
    <br/>
    <h4 style="text-align : center; color:#c0c0c0;"> Prenom : </h4>
    <input style="display: block; margin : auto; width:50%; text-align:center;" type="text" id="prenomC" name="prenom"/>
    <br/>

    <h4 style="text-align : center; color:#c0c0c0;">Nouveau mot de passe :</h4>
    <input style="display: block; margin : auto; width:50%; text-align:center;" type="password" id="passwordC" name="password"/>
    <br/>
    <button style="display: block; margin : auto; width:50%; text-align:center;" type="submit" value="Changer les informations">Changer les informations</button>

</form>
</div>
</div>

<script>
    if(document.cookie) {
        var mail = document.getElementById("mailC");
        mail.value = gcookie("mail");
        mail.value = mail.value.replace('%40','@');
        $("#mailC").append(mail.value);

        var nom = document.getElementById("nomC");
        nom.value = gcookie("nom");
        $("#nomC").append(nom.value);

        var id = document.getElementById("idC");
        id.value = gcookie("id");
        $("#idC").append(id.value);

        var prenom = document.getElementById("prenomC");
        prenom.value = gcookie("prenom");
        $("#prenomC").append(prenom.value);
    }
</script>

