<% var title = 'Formulaire register' %>
<% include head %>

<h1>register</h1>
Accés au <a href="/profile">/profil</a>
<form method="post" action="/create">
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Nom:</label>
    <input type="text" name="nom">
  </p>
  <p>
    <label>Prenom:</label>
    <input type="text" name="prenom">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>

<% include foot %>