<% var title = 'Formulaire register' %>
<% include head %>

<section id="form"><!--form-->
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <div class="signup-form"><!--sign up form-->
                  <h2>New User Signup!</h2>
                  <p>Accés au <a href="/profile">profil</a></p>
                  <form method="post" action="/create">
                      <input type="email" name="email" placeholder="Email"/>
                      <input type="text" name="nom" placeholder="Nom"/>
                      <input type="text" name="prenom" placeholder="Prenom"/>
                      <input type="password" name="password" placeholder="Password"/>
                      <button type="submit" value="Register" class="btn btn-default">Signup</button>
                  </form>
              </div><!--/sign up form-->
          </div>
      </div>
  </div>
</section><!--/form-->

<% include foot %>