<% var title = 'Formulaire register' %>
<% include head %>

<section id="form"><!--form-->
  <div class="container">
      <div class="row">
          <div class="signup-form"><!--sign up form-->
              <h2 style="text-align : center;">New User Signup !</h2>
              <form method="post" action="/create">
                  <input style="display: block; margin : auto; width:50%;" type="email" name="email" placeholder="Email" autofocus required/>
                  <br/>
                  <input style="display: block; margin : auto; width:50%;" type="text" name="nom" placeholder="Nom" required/>
                  <br/>
                  <input style="display: block; margin : auto; width:50%;" type="text" name="prenom" placeholder="Prenom" required/>
                  <br/>
                  <input style="display: block; margin : auto; width:50%;" type="password" name="password" pattern="[A-Za-z0-9]{6,8}" placeholder="Password" required/>
                  <br/>
                  <button style="display: block; margin : auto; width:20%;" type="submit" value="Register" class="btn btn-default">Signup</button>
              </form>
          </div><!--/sign up form-->
      </div>
  </div>
</section><!--/form-->

<% include foot %>