<% var title = 'Pannel administration' %>
<% include head %>

<div class="container">
    <div class="login-form"><!--login form-->
        <form method="post" action="/pannelModifyUser">
            <h2 style="color: #ffb90f; text-align : center;">Modifier données utilisateur</h2>
            <h4 style="text-align : center; color:#c0c0c0;"> Email de l'utilisateur : </h4>
            <input style="display: block; margin : auto; width:50%;"  type="email" name="nomProduit">
            <br/>
            <h4 style="text-align : center; color:#c0c0c0;"> Nom de l'utilisateur : </h4>
            <input style="display: block; margin : auto; width:50%;" type="text" name="prixProduit">
            <br/>
            <h4 style="text-align : center; color:#c0c0c0;"> Prenom de l'utilisateur : </h4>
            <input style="display: block; margin : auto; width:50%;" type="text" name="prixProduit">
            <br/>
            <h4 style="text-align : center; color:#c0c0c0;"> Mot de passe de l'utilisateur : </h4>
            <input style="display: block; margin : auto; width:50%;" type="password" name="prixProduit">
            <br/>
            <button style="display: block; margin : auto; width:20%;" type="submit">Modifier données</button>
            <br/><br/>
        </form>
        <form method="post" action="/pannelDelProduct">
            <h2 style="color: #ffb90f; text-align : center;">Supprimer un utilisateur</h2>
            <h4 style="text-align : center; color:#c0c0c0;">Identifiant de l'utilisateur :</h2>
                <input style="display: block; margin : auto; width:50%;" type="number" name="idProduit">
                <br/>
                <button style="display: block; margin : auto; width:20%;" type="submit" value="Supprimer">Supprimer</button>
                <br/>
        </form>
    </div>
</div>

<% include foot %>